    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <!--<span class="sr-only">Toggle navigation</span>-->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">Schedule Sails</a>
      </div>

      <!-- Login form -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
<%- partial ('../auth/_login_form') %>
      </div>
      </div>
    </nav>

    <div class="container">

      <div class="row">

        <h2>Reset Password</h2>

        <div class="col-md-12">

          <form ng-submit="changePassword()" class="form-horizontal" name="resetPasswordForm" ng-controller="ResetPasswordController" ng-cloak>
            <div class="row">

              <div class="control-group form-group" ng-class="{'has-error':resetPasswordForm.password.$error.required && resetPasswordForm.password.$dirty}">
                <label class="col-md-2">Password</label>
                <div class="col-md-4">
                  <input name="password" ng-model="model.password" type="password" class="form-control" placeholder="At least 8 characters" ng-minlength="8" compare-to="model.confirmation" autofocus required />
                  <span class="help-block has-error" ng-if="resetPasswordForm.password.$dirty">
                    <span ng-show="resetPasswordForm.password.$error.required">Password is required.</span>
                    <span ng-show="resetPasswordForm.password.$error.minlength">Password must be at least 8 characters.</span>
                  </span>
                </div>
              </div>

              <div class="control-group form-group" ng-class="{'has-error': resetPasswordForm.confirmation.$dirty && (resetPasswordForm.confirmation.$invalid || resetPasswordForm.password.$error.compareTo) }">
                <label class=" col-md-2">Confirm Password</label>
                <div class="col-md-4">
                  <input name="confirmation" ng-model="model.confirmation" type="password" class="form-control" placeholder="Confirm Password" required />
                  <span class="help-block has-error" ng-if="resetPasswordForm.confirmation.$dirty">
                    <span ng-show="resetPasswordForm.password.$error.compareTo">Password must match.</span>
                    <span ng-show="resetPasswordForm.confirmation.$error.required">Confirmation password is required.</span>
                  </span>
                </div>
              </div>

              <div class="control-group form-group">
                <div class="col-md-6">
                  <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="resetPasswordForm.$invalid">
                    <span ng-show="!isLoading">Reset Password</span>
                    <span class="overlord-loading-spinner fa fa-spinner" ng-show="isLoading"></span>
                    <span ng-show="isLoading">Resetting Password...</span>
                  </button>
                </div>
              </div>

            </div>

            <input type="hidden" name="_csrf" value="<%= _csrf %>" ng-model="model._csrf" ng-set-hidden-input />
          </form>

        </div>
      </div>
    </div>

<%- partial ('../_footer.ejs') %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.min.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular/directives/compareTo.module.js"></script>
    <script src="/js/dependencies/angular/directives/angular-toastr.js"></script>
    <script src="/js/dependencies/angular/directives/ngFocusInput.js"></script>
    <script src="/js/public/utils.js"></script>
    <!--SCRIPTS END-->

    <script src="/js/dependencies/angular/directives/ngSetHiddenInput.js"></script>
    <script type="text/javascript">
      // AngularJS: Multiple controllers, 1 ng-view on the same page, embedded directives
      // https://gist.github.com/thekarel/7041382
      var app = angular.module('myApp', ['toastr', 'ngSetHiddenInput', 'ngFocusInput']);
    </script>
    <script src="/js/public/auth/Login.js"></script>
    <script src="/js/public/auth/ResetPassword.js"></script>

