    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <!--<span class="sr-only">Toggle navigation</span>-->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/"><%- __('NavNonAuthBrand') %></a>
      </div>

      <!-- Login form -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
<%- partial ('../auth/_login_form') %>
      </div>
      </div>
    </nav>

    <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signupForm" ng-controller="SignupController" ng-cloak>
      <h2 class="form-signin-heading">Create an account</h2>
      <div class="row">

        <div class="control-group form-group col-md-12" ng-class="{'has-error':signupForm.username.$invalid && signupForm.username.$dirty}">
          <label>User Name</label>
          <input type="text" class="form-control" placeholder="User Name" name="username" ng-model="model.username" ng-maxlength="50" required ng-focus-input />
          <span class="help-block has-error" ng-if="signupForm.username.$dirty && signupForm.username.$invalid">
            <span ng-show="signupForm.username.$error.required">User Name is required.</span>
            <span ng-show="signupForm.username.$error.maxlength">The User Name cannot be more than 50 characters.</span>
          </span>
        </div>

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signupForm.email.$invalid && signupForm.email.$dirty && !emailHasFocus}">
          <label>Your email address</label>
          <input type="email" class="form-control" placeholder="Email" name="email" ng-model="model.email" required ng-focus="emailHasFocus=true" ng-blur="emailHasFocus=false" />
          <span class="help-block has-error" ng-if="signupForm.email.$dirty && signupForm.email.$invalid && !emailHasFocus">
            <span ng-show="signupForm.email.$error.required">Email address is required.</span>
            <span ng-show="signupForm.email.$error.email">Not a valid email address.</span>
          </span>
        </div>

        <div class="control-group form-group col-md-6" ng-class="{'has-error':signupForm.password.$error.required && signupForm.password.$dirty}">
          <label>Choose a password</label>
          <input type="password" class="form-control" placeholder="at least 8 characters" name="password" ng-model="model.password" id="password" required ng-minlength="8" />
          <span class="help-block has-error" ng-if="signupForm.password.$dirty && signupForm.password.$invalid">
            <span ng-show="signupForm.password.$error.required">Password is required.</span>
            <span ng-show="signupForm.password.$error.minlength">Password must be at least 8 characters.</span>
          </span>
        </div>

        <div class="control-group form-group col-md-6" ng-class="{'has-error': signupForm.confirmation.$dirty && (signupForm.confirmation.$invalid || signupForm.password.$error.compareTo) }">
          <label>Re-enter your password</label>
          <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="model.confirmPassword" required compare-to="model.password">
          <span class="help-block has-error" ng-if="signupForm.confirmation.$dirty">
            <span ng-show="signupForm.confirmation.$error.compareTo">Password must match.</span>
            <span ng-show="signupForm.confirmation.$error.required">Confirmation password is required.</span>
          </span>
        </div>
      </div>

      <br/>

      <!-- Disable signup button until the form has no errors -->
      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signupForm.$invalid">
        <span ng-show="!model.pending">Create Account</span>
        <span class="fa fa-spinner" ng-show="model.pending" ></span>
        <span ng-show="model.pending">Preparing your new account...</span>
      </button>

      <input type="hidden" name="_csrf" value="<%= _csrf %>" ng-model="model._csrf" ng-set-hidden-input />
    </form>

<%- partial ('../_footer.ejs') %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.min.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular/directives/compareTo.module.js"></script>
    <script src="/js/dependencies/angular/directives/angular-toastr.js"></script>
    <script src="/js/dependencies/angular/directives/ngFocusInput.js"></script>
    <script src="/js/public/utils.js"></script>
    <!--SCRIPTS END-->

    <script src="/js/dependencies/angular/directives/ngSetHiddenInput.js"></script>
    <script type="text/javascript">
      // AngularJS: Multiple controllers, 1 ng-view on the same page, embedded directives
      // https://gist.github.com/thekarel/7041382
      var app = angular.module('myApp', ['toastr', 'ngSetHiddenInput', 'compareTo', 'ngFocusInput']);
    </script>
    <script src="/js/public/auth/Login.js"></script>
    <script src="/js/public/auth/Signup.js"></script>

