<%- partial ('../../_nav_authorized.ejs') %>

  <div class="container-fluid">
    <div data-ng-view="" id="ng-view"></div>
  </div>

<%- partial ('../../_footer.ejs') %>

  <script type="text/ng-template" id="sendInvite.html">
    <div class="modal-header">
      <h3>Send Invite</h3>
    </div>
    <div class="modal-body">
      <dl class="dl-horizontal">
        <dt>User Name</dt>
        <dd><b>{{selectedUser.username}}</b></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd><b>{{selectedUser.email}}</b></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Invite URL</dt>
        <dd ng-show="selectedUser.inviteUrl"><b><a href="{{selectedUser.inviteUrl}}">Schedule URL</a></b></dd>
        <dd ng-show="selectedUser.inviteNotCreated" class="text-warning"><b>An Invite has not yet been created.</b></dd>
        <dd ng-show="selectedUser.inviteSearchFailed" class="text-danger"><b>Failed to retrieve invite data.</b></dd>
      </dl>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn primary-btn" type="button" ng-click="sendInvite()">Send Invite</button>
    </div>
  </script>

  <script type="text/javascript">
    window.myApp.locals.isFullView = <%= isFullView %>;
  </script>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery/jquery.min.js"></script>
  <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
  <script src="/js/dependencies/angular.min.js"></script>
  <script src="/js/dependencies/angular/directives/compareTo.module.js"></script>
  <script src="/js/dependencies/angular/directives/angular-toastr.js"></script>
  <script src="/js/public/utils.js"></script>
  <!--SCRIPTS END-->
  
  <script src="/js/dependencies/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script src="/js/dependencies/angular/directives/dirPagination.min.js"></script>
  <script src="/js/dependencies/angular/angular-route.min.js"></script>
  <script src="/js/private/admin/UserModule.js"></script>
  <script src="/js/private/admin/UserAdmin.js"></script>
