<%- partial ('../../_nav_authorized.ejs') %>

  <div class="container-fluid">
    <div data-ng-view="" id="ng-view"></div>
  </div>

<%- partial ('../../_footer.ejs') %>

  <script type="text/ng-template" id="sendInvite.html">
    <div class="modal-header">
      <h3>Send Invite</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <label class="col-md-4">User Name</label>
        <div class="col-md-4"><b>{{selectedUser.username}}</b></div>
      </div>
      <div class="row">
        <label class="col-md-4">Email</label>
        <div class="col-md-4"><b>{{selectedUser.email}}</b></div>
      </div>
      <div class="row">
        <label class="col-md-4">Invite URL</label>
        <div class="col-md-4" ng-show="selectedUser.inviteUrl">
          <b><a href="{{selectedUser.inviteUrl}}">{{selectedUser.inviteUrl}}</a></b>
        </div>
        <div class="col-md-4 text-warning" ng-show="selectedUser.inviteNotCreated">
          <b>An Invite has not yet been created.</b>
        </div>
        <div class="col-md-4 text-danger" ng-show="selectedUser.inviteSearchFailed">
          <b>Failed to retrieve invite data.</b>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn primary-btn" type="button" ng-click="sendInvite()">Send Invite</button>
    </div>
  </script>

  <script type="text/javascript">
    window.myApp.locals.isFullView = <%= isFullView %>;
  </script>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.min.js"></script>
  <script src="/js/dependencies/angular/modules/compareTo.module.js"></script>
  <script src="/js/dependencies/angular/directives/angular-toastr.js"></script>
  <script src="/js/public/utils.js"></script>
  <!--SCRIPTS END-->
  
  <script src="/js/dependencies/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script src="/js/dependencies/angular/directives/dirPagination.min.js"></script>
  <script src="/js/dependencies/angular/angular-route.min.js"></script>
  <script src="/js/private/admin/UserModule.js"></script>
  <script src="/js/private/admin/UserAdmin.js"></script>
