<!DOCTYPE html>
<html>
  <head>
    <title>Server Error</title>
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">
  </head>
  <body>
<!-- partial ('nav/_nav_generic.ejs') -->
    <nav class="navbar navbar-default navbar-inverse">
      <!-- Mechanism for collapse button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <!-- The lines in the image when the nav collapse -->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/#/"> Home</a>
    </nav>

    <div class="container-fluid">
      <h1>Internal Server Error</h1>
    </div>
  </body>
</html>
