    <div class="container">
        <hr>
        <footer class="footer pull-right">
            <div>
                <a href="http://sailsjs.com/">sailsjs.org</a>
            </div>
        </footer>
    </div>
