<%- partial ('_nav_authorized.ejs') %>

    <!-- container = Fixed-width container container-fluid = full-width -->
    <div class="container-fluid">

      <!--<h1>Dashboard</h1>-->

      <dl class="dl-horizontal">
        <dt>View Calendar</dt>
        <dd><a href="/schedule">Schedule</a></dd>
      </dl>

      <% if (isSiteAdmin || isAdmin) { %>
      <dl class="dl-horizontal">
        <dt>User Admin</dt>
        <dd><a href="/adminpanel/users">Users</a></dd>
      </dl>
      <% } %>
      <% if (isSiteAdmin) { %>
      <dl class="dl-horizontal">
        <dt>View Logs</dt>
        <dd><a href="/adminpanel/logs?limit=100&start=0">/adminpanel/logs?limit=100&start=0</a></dd>
      </dl>
      <% } %>

    </div>

    <script type="text/javascript">
      window.myApp = window.myApp || {};
      window.myApp.locals = window.myApp.locals || {};
      window.myApp.locals.user = <%- JSON.stringify(user) %>;
    </script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.min.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular/directives/compareTo.module.js"></script>
    <script src="/js/dependencies/angular/directives/angular-toastr.js"></script>
    <script src="/js/dependencies/angular/directives/ngFocus.js"></script>
    <script src="/js/public/utils.js"></script>
    <!--SCRIPTS END-->

    <script type="text/javascript">
      angular.module('DashboardModule', []);
      angular.module('DashboardModule').controller('DashboardController', [function(){}]);
    </script>
