    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <!--<span class="sr-only">Toggle navigation</span>-->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">Schedule Sails</a>
      </div>

      <!-- Login form -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
<%- partial ('./auth/_login_form') %>
      </div>
      </div>
    </nav>

    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>Schedule Sails</h1>
        <a href="/signup" class="btn btn-lg btn-success">Sign up now!</a>
        <br /><br />
        <a href="/forgotpassword">Forgot Password?</a>
      </div>
    </div>

<%- partial ('./_footer.ejs') %>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.min.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular/directives/compareTo.module.js"></script>
    <script src="/js/dependencies/angular/directives/angular-toastr.js"></script>
    <script src="/js/public/utils.js"></script>
    <!--SCRIPTS END-->

    <script src="/js/dependencies/angular/directives/ngSetHiddenInput.js"></script>
    <script src="/js/public/home/HomeModule.js"></script>
    <script src="/js/public/auth/LoginService.js"></script>
    <script src="/js/public/home/HomeController.js"></script>
